<div class="">
  <div id="map" style="height:300px; width:100%; "></div>
</div>
<div>
  <div id="question1" layout-align="center center" layout="column">
    <h2 class="md-title">1. Select an Establishment</h2>
    <md-input-container>
      <label>Establishment</label>
      <md-select ng-model="establishment">
        <md-option ng-repeat="establishment in establishments  | orderBy: 'ESTABLISHMENT' track by establishment.ESTABLISHMENT" ng-value="establishment">
          {{establishment.ESTABLISHMENT}}
        </md-option>
      </md-select>
    </md-input-container>
  </div>
  <div id="question2" ng-show="establishment" layout-align="center center" layout="column">
    <h2 class="md-title">2. To resolve your complaint the City of Raleigh encourages you to contact the business directly at</h2>
    <center><h2>{{establishment["PHONE"]}}</h2></center>
    <p class="alert alert-danger text-center">If this is an emergency please call 911</p>
    <center><md-button class="md-raised md-primary" ng-click="question2 = true;scrollTo('question3');">Continue with Online Complaint</md-button></center>
  </div>
  <div id="question3" ng-show="question2" layout-align="center center" layout="column">
    <h2 class="md-title">3. Fill out the following form</h2>
    <form name="complaintForm">
      <md-input-container class="md-block">
        <label>Your Name</label>
        <input required name="complaintant" ng-model="complaintant.name">
        <div ng-messages="complaintForm.description.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>			
      <md-input-container class="md-block">
        <label>Your Phone #</label>
        <input required name="complaintantPhone" ng-model="complaintant.phoneNumber">
        <div ng-messages="complaintForm.description.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>	
      
      <md-input-container class="md-block">
        <label>Your Email</label>
        <input required type="email" name="complaintantEmail" ng-model="complaintant.email"
        minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
        <div ng-messages="complaintForm.complaintantEmail.$error" role="alert">
          <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
            Your email must be between 10 and 100 characters long and look like an e-mail address.
          </div>
        </div>
      </md-input-container>	

	<md-input-container class="md-input-has-placeholder flex-gt-md-30 md-input-has-value md-input-focused">
	      <label>Date</label>
		<input time="false" date="true" mdc-datetime-picker="" type="text" id="date" class="md-input" ng-model="complaintant.date">
      </md-input-container>	  
	<md-input-container class="col-md-2 col-md-offset-5" flex-gt-sm>
	      <label>Time</label>
		<input time="true" date="false" mdc-datetime-picker="" type="text" id="date" class="md-input" ng-model="complaintant.time" format="hh:mm a" short-time="true">
      </md-input-container>	  
  
      <br/>
      <div layout="column">
        <md-checkbox 
          ng-model="complaintant.music">
          Loud Music
        </md-checkbox>
        <md-checkbox 
          ng-model="complaintant.crowd">
          Crowd/Voices
        </md-checkbox>
        <md-checkbox 
          ng-model="complaintant.bass">
          Bass Effect
        </md-checkbox>
        <md-checkbox 
          ng-model="complaintant.other">
          Other
        </md-checkbox>                        
      </div>
    </form>
       <md-button ng-disabled="complaintForm.$invalid" ng-click="question3 = true;scrollTo('question4')" class="md-raised md-primary">Continue</md-button>   
  </div>
  <div id="question4" ng-show="question3 || complaintForm.input.$error" layout-align="center center" layout="column">
    <h2 class="md-title">4. Prior to filing this complaint did you contact the establishment?</h2>
    <md-radio-group ng-model="complaintant.question4" ng-click="scrollTo('question5')">
      <md-radio-button value="Yes" class="md-primary">Yes</md-radio-button>
      <md-radio-button value="No"> No </md-radio-button>
    </md-radio-group>
  </div>
  
  
  <div id="question5" ng-show="complaintant.question4" layout-align="center center" layout="column">		    			
    <h2 class="md-title">5. Did you speak with a member of management?</h2>
    <md-radio-group ng-model="complaintant.question5" ng-click="scrollTo('question6')">
      <md-radio-button value="Yes" class="md-primary">Yes</md-radio-button>
      <md-radio-button value="No"> No </md-radio-button>
    </md-radio-group>
  </div>						
  <div id="question6" ng-show="complaintant.question5" layout-align="center center" layout="column">				
    <h2 class="md-title">6. Was your complaint resolved?</h2>
    <md-radio-group ng-model="complaintant.question6">
      <md-radio-button value="Yes" class="md-primary">Yes</md-radio-button>
      <md-radio-button value="No"> No </md-radio-button>
    </md-radio-group>
  </div>
  <div layout-align="center center" layout="row"	ng-show="complaintant.question6">
  <md-button  class="md-raised md-primary" ng-click="submitForm(complaintant, establishment)">Submit</md-button>					
  </div>
</div>			

